<script>
  import Box from '../components/ui/Box.svelte';
</script>

<Box column class="items-center">
  <Box column class="w-full max-w-6xl gap-6 min-h-screen px-5 py-8 pb-9">
    <slot />
  </Box>
</Box>
