<script>
  import '../app.css';
  import { useEffect } from '../lib/hooks';
  import { getUsers } from '../endpoint/index';
  import TableData from '../components/TableData.svelte';
  import TableFooter from '../components/TableFooter.svelte';
  import Toolbar from '../components/Toolbar.svelte';
  import { SvelteToast } from '@zerodevx/svelte-toast';
  import FormUser from '../components/FormUser.svelte';

  let loading = true;
  let data = [];
  let edit;
  let meta = {
    page: 1,
    pageSize: 10,
    pageCount: 0,
  };

  let status;
  let search = '';

  $: query = {
    status,
    fullName: search ? search : undefined,
  };

  useEffect(
    async () => {
      loading = true;
      try {
        const res = await getUsers({ ...query, page: meta.page, pageSize: meta.pageSize });
        data = res?.data || [];
        meta = res.meta;
      } catch (e) {
        data = [];
      } finally {
        loading = false;
      }
    },
    () => [query, meta.page, refreshCount]
  );

  let refreshCount = 0;
  function refresh() {
    meta.page = 1;
    refreshCount++;
    edit = false;
  }

  // $: console.log({ data });
</script>

<Toolbar bind:status bind:search bind:meta on:refresh={refresh}>
  <FormUser on:success={refresh} {edit} />
</Toolbar>
<TableData {data} {loading} {meta} bind:edit on:success={refresh} />
<TableFooter bind:meta {loading} />
<SvelteToast />
