<script context="module">
  const username = 'username';
  const password = 'password';
  const fullName = 'fullName';
  const city = 'city';
  const status = 'status';
</script>

<script>
  import { Button, Input, Label, Modal, Radio, Spinner } from 'flowbite-svelte';
  import { createUser, updateUser } from '../endpoint';
  import Box from './ui/Box.svelte';
  import { createEventDispatcher } from 'svelte';
  import { toastMessage } from '../lib/utility';
  import { useEffect } from '../lib/hooks';

  export let edit;

  let input = {};
  let loading;
  let open;
  let show;

  useEffect(
    () => {
      open = Boolean(edit);
      if (edit) {
        input._id = edit._id;
        [username, password, fullName, city, status].map((i) => {
          input[i] = edit[i];
        });
      }
    },
    () => [edit]
  );

  const dispatch = createEventDispatcher();

  async function onSubmit(e) {
    try {
      e.preventDefault();
      e.stopPropagation();
    } catch (e) {}

    if (edit) {
      await updateUser(input);
      toastMessage(`Data <b>${edit[fullName]}</b> berhasil diubah!`);
    } else {
      await createUser(input);
      toastMessage(`Pengguna baru (<b>${input[fullName]}</b>) telah dibuat!`);
    }
    open = false;
    dispatch('success', true);
  }

  function onCancel() {
    open = false;
    edit = false;
  }
  function onOpen() {
    open = true;
  }

  $: if (!open) {
    input = { [status]: true };
  }

  $: error = Boolean([username, password, fullName, city].filter((i) => !String(input[i] || '').trim()).length);

  //   $: console.log('input: ', input, { open, error });
</script>

<Button pill on:click={onOpen} class="whitespace-nowrap" gradient color="pinkToOrange">
  {'Tambah User'}
</Button>
{#if open}
  <Modal title={edit ? `Ubah data pengguna: ${edit[fullName]}` : 'Tambah Pengguna'} bind:open>
    <form on:submit|preventDefault class="flex flex-col gap-6 relative {loading && 'opacity-50'} ">
      {#if loading}
        <Box class="absolute w-full justify-center items-center" style="height:calc(100% - 60px)">
          <Spinner color="pink" />
        </Box>
      {/if}

      <Box class="gap-6">
        <Box column class="flex-1 gap-3">
          <Label>Nama Lengkap</Label>
          <Input bind:value={input[fullName]} type="text" placeholder="nama lengkap" required />
        </Box>
        <Box column class="flex-1 gap-3">
          <Label>Kota</Label>
          <Input bind:value={input[city]} type="text" placeholder="Kota" required />
        </Box>
      </Box>

      <Box class="gap-6">
        <Box column class="flex-1 gap-3">
          <Label>Nama Pengguna</Label>
          <Input bind:value={input[username]} type="text" placeholder="username" required />
        </Box>
        <Box column class="flex-1 gap-3">
          <Label>Kata Sandi</Label>
          <Input bind:value={input[password]} type={show ? 'text' : 'password'} placeholder="pasword" required>
            <button type="button" slot="right" on:click={() => (show = !show)} class="pointer-events-auto">
              {@html show
                ? `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" /><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" /></svg>`
                : `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" /></svg>`}
            </button>
          </Input>
        </Box>
      </Box>

      <Box column class="gap-3 mb-6">
        <Label>Status</Label>
        <Box class="gap-6">
          <Radio bind:group={input[status]} value={true} class="cursor-pointer select-none" color="orange">AKTIF</Radio>
          <Radio bind:group={input[status]} value={false} class="cursor-pointer select-none" color="red">NONAKTIF</Radio>
        </Box>
      </Box>

      <Box slot="footer" class="gap-3">
        <Button gradient pill color="pinkToOrange" disabled={error} on:click={onSubmit} type="submit">SIMPAN</Button>
        <Button outline gradient pill color="pinkToOrange" type="button" on:click={onCancel}>BATAL</Button>
      </Box>
    </form>
  </Modal>
{/if}
