<script>
  import { Button, PaginationItem } from 'flowbite-svelte';
  import Box from '../components/ui/Box.svelte';

  export let loading;
  export let meta = {};

  function previous() {
    if (page > 1) meta.page--;
  }

  function next() {
    if (page < pageCount) meta.page++;
  }

  $: ({ page, pageCount, pageSize, count, length } = meta);

  $: index = pageSize * (page - 1);
</script>

<Box class="gap-3 justify-between items-center {loading && 'opacity-50'}">
  {#if count}
    <Box class="gap-1 text-sm border-r pr-3">
      {'Menampilkan'}
      <p class="font-medium">
        {`${index + 1} - ${index + count}`}
      </p>
      {'dari'}
      <p class="font-medium">{length}</p>
      {'data'}
    </Box>
    <Box class="gap-1 text-sm">
      {'Halaman'}
      <p class="font-medium">{page}</p>
      /
      <p class="font-medium">{pageCount}</p>
    </Box>
  {:else}
    <Box class="flex-1 text-sm opacity-50">Tidak ada data ditampilkan</Box>
  {/if}
  <Box class="gap-3">
    <Button outline gradient color="pinkToOrange" pill class="text-xs flex items-center" on:click={previous}>
      {@html `<svg class="mr-2 w-4 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"/></svg>`}
      <span style="min-width: 50px;">Previous</span>
    </Button>
    <Button outline gradient color="pinkToOrange" pill class="text-xs flex items-center" on:click={next}>
      <span style="min-width: 50px;">Next</span>
      {@html `<svg class="ml-2 w-4 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>`}
    </Button>
  </Box>
</Box>
