<script>
  import { Badge, Button, Checkbox, Modal, Table, TableBody, TableBodyCell, TableBodyRow, TableHead, TableHeadCell } from 'flowbite-svelte';
  import { createEventDispatcher } from 'svelte';
  import Box from '../components/ui/Box.svelte';
  import { deleteUser } from '../endpoint';
  import { toastMessage } from '../lib/utility';

  export let loading;
  export let data = [];
  export let meta = {};
  export let edit;
  export let removed;

  const dispatch = createEventDispatcher();

  async function onConfirmRemove() {
    const { _id, fullName } = removed;
    await deleteUser({ _id });
    toastMessage(`Pengguna (<b>${fullName}</b>) telah dihapus!`);
    dispatch('success', true);
  }

  function handleAction(e) {
    const itemEdit = getItem(e, 'data-edit');
    const itemRemoved = getItem(e, 'data-removed');

    if (itemEdit) edit = itemEdit;
    if (itemRemoved) removed = itemRemoved;
  }

  function getItem(e, name) {
    try {
      const id = e.currentTarget.getAttribute(name);
      if (id) return data.filter(({ _id }) => _id === id)[0];
    } catch (err) {}
  }

  let viewPassword = {};
  function handleViewPassword(e) {
    const id = e.currentTarget.getAttribute('data-id');
    if (id) viewPassword[id] = !viewPassword[id];
  }

  //   $: console.log({ edit, removed });

  let bggradient = 'bg-gradient-to-br from-pink-200 to-orange-100';
</script>

<Modal bind:open={removed} size="xs" autoclose>
  <div class="text-center">
    {@html `<svg class="mx-auto mb-4 w-14 h-14 text-gray-500 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>`}
    <h3 class="mb-5 text-lg font-medium text-gray-600 dark:text-gray-400">Kamu yakin ingin menghapus pengguna ini?</h3>
    <Button on:click={onConfirmRemove} pill gradient color="pinkToOrange" class="mr-2">Ya, hapus</Button>
    <Button outline pill gradient color="pinkToOrange">Tidak, batal</Button>
  </div>
</Modal>

<Box class="rounded-t-lg flex-1 {loading && 'opacity-50'} {bggradient} " style="padding:1px">
  <Box column class="flex-1 max-w-full bg-white" style="border-radius: inherit;">
    <Table hoverable={Boolean(data.length)}>
      <TableHead class="uppercase  dark:bg-gray-700 dark:text-gray-400 {bggradient} ">
        <TableHeadCell class="!py-4 rounded-tl-lg">No.</TableHeadCell>
        <TableHeadCell class="!py-4">Nama Lengkap</TableHeadCell>
        <TableHeadCell class="!py-4">Kota</TableHeadCell>
        <TableHeadCell class="!py-4">Username</TableHeadCell>
        <TableHeadCell class="!py-4">Password</TableHeadCell>
        <TableHeadCell class="!py-4">Status</TableHeadCell>
        <TableHeadCell class="!py-4 rounded-tr-lg" />
      </TableHead>
      <TableBody class="divide-y">
        {#if data.length}
          {#each data as item, index}
            <TableBodyRow class="hover:bg-gray-200 bg-transparent border-t">
              <TableBodyCell class="!py-2.5">{(meta.page - 1) * meta.pageSize + index + 1 + '.'}</TableBodyCell>
              <TableBodyCell class="!py-2.5">{item.fullName}</TableBodyCell>
              <TableBodyCell class="!py-2.5">{item.city}</TableBodyCell>
              <TableBodyCell class="!py-2.5">{item.username}</TableBodyCell>
              <TableBodyCell class="!py-0">
                <Box class="gap-2 items-center">
                  <Button on:click={handleViewPassword} data-id={item._id} color="alternative" class="!p-0.5 h-6 w-6 border-none">
                    {@html viewPassword[item._id]
                      ? `<svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" /><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" /></svg>`
                      : `<svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" /></svg>`}
                  </Button>
                  {viewPassword[item._id] ? item.password : ''}
                </Box>
              </TableBodyCell>
              <TableBodyCell class="!py-2.5">
                {#if item.status}
                  <Badge class="!font-semibold" color="green">AKTIF</Badge>
                {:else}
                  <Badge class="!font-semibold" color="dark">NONAKTIF</Badge>
                {/if}
              </TableBodyCell>
              <TableBodyCell class="!py-0 text-right">
                <Box class="gap-2">
                  <Button on:click={handleAction} data-edit={item._id} color="alternative" class="!p-0.5 h-6 w-6 border-none">
                    {@html `<svg class="h-4 w-5" viewBox="0 0 350 350" xmlns="http://www.w3.org/2000/svg"><path d="M346.782,62.861L288.157,4.233C285.462,1.52,281.786,0,277.968,0c-3.831,0-7.494,1.514-10.196,4.233L4.221,267.778   c-2.762,2.756-4.293,6.539-4.212,10.442l1.039,57.598c0.129,7.765,6.407,14.009,14.163,14.165l57.583,1.033c0.093,0,0.18,0,0.258,0   c3.825,0,7.497-1.525,10.196-4.233L346.782,83.257C352.421,77.624,352.421,68.494,346.782,62.861z M67.184,322.073l-37.557-0.672   l-0.675-37.566l20.771-20.776l38.242,38.238L67.184,322.073z M279.883,109.378l-38.244-38.239l36.329-36.329l38.238,38.253   L279.883,109.378z"/></svg>`}
                  </Button>
                  <Button on:click={handleAction} data-removed={item._id} color="alternative" class="!p-0.5 h-6 w-6 border-none">
                    {@html `<svg class="h-5 w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5ZM6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19Z" fill="#000000"/><path d="M10 13H14V15H10V13Z" fill="white" /></svg>`}
                  </Button>
                </Box>
              </TableBodyCell>
            </TableBodyRow>
          {/each}
        {:else}
          <TableBodyRow>
            <TableBodyCell colspan={7} class="text-center pt-32 text-lg opacity-70">
              {loading ? '...' : 'Data kosong'}
            </TableBodyCell>
          </TableBodyRow>
        {/if}
      </TableBody>
    </Table>
  </Box>
</Box>
