<script>
  import { Button, Chevron, Dropdown, DropdownItem, Input } from 'flowbite-svelte';
  import Box from './ui/Box.svelte';
  import { isUndefined } from '../lib/utility';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let status;
  export let search = '';
  export let meta = {};

  let dropdown;

  function changeStatus(value) {
    dropdown = false;
    status = value;
    meta.page = 1;
  }

  function onSearch(e) {
    search = String(e.target.value).trim();
  }
  function onClear() {
    search = '';
  }

  function refresh() {
    dispatch('refresh', true);
  }
</script>

<Box class="gap-3">
  <Box class="gap-3 flex-1">
    <Box class="w-full max-w-lg">
      <Input
        value={search}
        on:input={onSearch}
        placeholder="Cari"
        class="pr-11 !pl-14 rounded-full block w-full disabled:cursor-not-allowed disabled:opacity-50 focus:border-blue-500 focus:ring-blue-500 dark:focus:border-blue-500 dark:focus:ring-blue-500 bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 border-gray-300 dark:border-gray-600 p-4 sm:text-base "
      >
        <svg
          slot="left"
          aria-hidden="true"
          class="ml-2 w-6 h-6 text-gray-500 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <span slot="right" on:click={onClear} class="cursor-pointer pointer-events-auto">
          {@html search &&
            `<svg class="w-5 h-5 mr-1 fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>`}
        </span>
      </Input>
    </Box>
    <Button on:click={refresh} pill color="alternative" class="!p-0 h-10 w-10 self-center" title="refresh">
      {@html `<svg fill="inherit" class="h-5 w-5" viewBox="0 0 512.002 512.002" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path d="M436.866,436.871c48.312-48.311,74.921-112.546,74.921-180.871c0-141.039-114.744-255.785-255.783-255.786v49.507    c113.741,0.002,206.276,92.539,206.276,206.279c0,55.101-21.458,106.902-60.42,145.864l-7.571,7.571l-67.552-67.552l0.021,170.076    l170.096,0.041l-67.559-67.559L436.866,436.871z"/><path d="M49.724,256.001c0-55.101,21.458-106.902,60.42-145.864l7.571-7.571l67.552,67.552L185.245,0.041L15.148,0l67.559,67.559    l-7.571,7.57C26.824,123.439,0.215,187.674,0.215,255.999c0,141.039,114.744,255.785,255.783,255.786v-49.507    C142.258,462.278,49.724,369.742,49.724,256.001z"/></svg>`}
    </Button>
  </Box>
  <Box>
    <Button gradient pill color="pinkToOrange">
      <span class="opacity-60 mr-2.5 whitespace-nowrap">STATUS :</span>
      <Chevron>{isUndefined(status) ? 'SEMUA' : status ? 'AKTIF' : 'NONAKTIF'}</Chevron>
    </Button>
    <Dropdown bind:open={dropdown}>
      <DropdownItem on:click={() => changeStatus(undefined)}>SEMUA</DropdownItem>
      <DropdownItem on:click={() => changeStatus(true)}>AKTIF</DropdownItem>
      <DropdownItem on:click={() => changeStatus(false)}>NONAKTIF</DropdownItem>
    </Dropdown>
  </Box>
  <slot />
</Box>
